<template>
  <q-card v-if="model && fields">
    <q-card-section class="row items-center q-pb-none">
      <div class="text-h6">{{ title }}</div>
      <q-space />
      <q-btn v-close-popup icon="close" flat round dense />
    </q-card-section>

    <q-card-section>
      <as-form-generator
        :model="model"
        :fields="formFields"
        :buttons="buttonsAutorithed"
        :edit-mode="editMode"
        @form-submitted="onFormSubmit"
      ></as-form-generator>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "AsDataItem",
  props: {
    title: { type: String, required: true },
    model: { type: Object, required: true },
    fields: { type: Array, required: true },
    editMode: { type: String, required: true }
  },
  data() {
    return {
      isInReadOnlyMode: true,
      buttons: [
        { type: "submit", label: "Guardar Cambios" },
        { type: "cancel", label: "Volver" }
      ]
    };
  },
  computed: {
    /**
     * @returns {Array}
     */
    formFields() {
      return this.fields.map(field => ({ ...field, readonly: !this.isEditModeAllowed || field.readonly }));
    },
    isEditModeAllowed() {
      //TODO: entiendo que en este metodo habrá que enlazar con seguridad para ver
      // si el usuario tiene permisos de modificar este registro
      return this.editMode === "create" || this.editMode === "update";
    },
    buttonsAutorithed() {
      if (this.isEditModeAllowed) {
        return this.buttons;
      } else {
        return this.buttons.filter(button => button.type != "submit");
      }
    }
  },
  methods: {
    onFormSubmit(fieldsModelUpdated) {
      this.$emit("form-submitted", fieldsModelUpdated);
    }
  }
};
</script>
