<template>
  <q-table
    title="Empleados"
    :data="entityListItems"
    :columns="columnsConvertedForQTable"
    :grid="isShowedInGridMode"
    :pagination.sync="tablePagination"
    :loading="isLoading"
    :row-key="rowKey"
    :wrap-cells="true"
    class="as-data-list"
    card-container-class="q-col-gutter-md"
    @request="onChangedPaginationOrFilter"
    @row-click="onRowClicked"
  >
    <template #loading>
      <q-inner-loading showing color="primary" />
    </template>
    <template #top>
      <div class="full-width row wrap justify-start items-start content-start q-gutter-md as-data-list__header">
        <div class="q-table__title col-12 col-sm-shrink">{{ title }}</div>
        <as-filter-chip-list
          v-if="isFilterChipsShown"
          :filter-fields="filterFields"
          :full-text-search="fullTextSearch"
          class="col-shrink"
          @chip-field-removed="onChipFieldRemoved"
          @chip-full-text-search-removed="onChipFullTextSearchRemoved"
        ></as-filter-chip-list>
        <div class="col-none col-sm-grow"></div>
        <div v-if="isFilterShown" class="col-12 col-sm-shrink">
          <as-search-input
            :is-filter-open="isFilterOpen"
            @fulltext-search-clicked="onFullTextSearchClicked"
            @open-filter-clicked="isFilterOpen = !isFilterOpen"
            @search-input-focused="onSearchInputFocused"
          ></as-search-input>
        </div>
        <!-- <div class="col-12 col-sm-shrink">
          <q-btn v-if="isActionNewItemButtonShow" color="primary" label="Nuevo Registro" outline size="md" @click="onNewItemClick" />
        </div> -->
      </div>
      <div class="col-12" style="height:1.5em"></div>

      <div v-if="isFilterOpen" class="col-12 as-data-list__filter-container">
        <as-filter :filter-fields="filterFields" @apply-filter-clicked="onApplyFilterClicked"></as-filter>
      </div>
    </template>

    <template v-for="column in columnsWithPredefinedlFormatType" #[`body-cell-${column.name}`]="props">
      <q-td v-if="column.formatType === 'imageFromUrl'" :key="column.name" :props="props">
        <div>
          <q-avatar size="3em">
            <q-img :src="props.value" style="height: inherit; width: inherit">
              <template #error>
                <q-icon name="account_circle" size="lg" color="grey-4" />
              </template>
            </q-img>
          </q-avatar>
        </div>
      </q-td>

      <q-td v-if="column.formatType === 'actions'" :key="column.name" :props="props" class="as-data-list__cell--actions">
        <div>
          <q-btn
            v-for="actionButton in actionButtonsForQTable"
            :key="actionButton.name"
            flat
            round
            color="primary"
            :icon="actionButton.icon"
            class="as-data-list__icon-buttons"
            @click.stop="onActionButtonClicked({ actionButtonName: actionButton.name, item: props.row })"
          >
            <q-tooltip v-if="actionButton.tooltip">
              {{ actionButton.tooltip }}
            </q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </template>
    <template #item="props" class="row">
      <as-data-list-card-item
        :item="props.row"
        :sections="cardListItemSections"
        class="cursor-pointer"
        :class="cardClass"
        @click="onRowClicked($event, props.row)"
      ></as-data-list-card-item>
    </template>
  </q-table>
</template>

<script>
/**
 * @typedef {object} QTablePagination
 * @property {number} page;
 * @property {number} rowsPerPage;
 * @property {string} sortBy;
 * @property {boolean} descending;
 */

import { mapState, mapActions } from "vuex";
import { EntityList, EntityListParams, Filter, utils } from "../index.js";
import { Screen } from "quasar";

export default {
  name: "AsDataList",
  props: {
    isLoading: { type: Boolean, required: true },
    entityList: { type: Object, default: () => null },
    rowKey: { type: String, required: true },
    columns: { type: Array, required: true },
    actionButtons: { type: Array, required: false, default: () => [] },
    cardClass: { type: String, required: false, default: "col-12 col-md-3 as-data-list-card-class--default" },
    cardListItemSections: { type: Array, required: false, default: () => [] },
    isShowedAsCardList: { type: Boolean, default: false },
    isFilterShown: { type: Boolean, default: true },
    isFilterChipsShown: { type: Boolean, default: true },
    isActionButtonViewDetailShown: { type: Boolean, default: true },
    isActionNewItemButtonShow: { type: Boolean, default: true },
    isNotShowedAsCardListInMolbileResolution: { type: Boolean, default: false },
    title: { type: String, default: "" }
  },
  data() {
    return {
      isFilterOpen: false
    };
  },
  computed: {
    actionButtonsForQTable() {
      let allActionButtons = [...this.actionButtons];
      // let allActionButtons = [];
      let actionButtonViewDetail = { name: "viewDetail", icon: "forward", tooltip: "Ver detalle" };
      // let actionButtonViewDetail = { name: "viewDetail", icon: "description", tooltip: "Ver detalle" };
      //let actionButtonViewDetail = { name: "viewDetail", icon: "launch", tooltip: "Ver detalle" };

      if (this.isActionButtonViewDetailShown) {
        allActionButtons.push(actionButtonViewDetail);
      }

      return allActionButtons;
    },
    /**
     * @returns {Array} devuelve las columnas según las entiende qtable pero con nuestros ajustes hechos
     */
    columnsConvertedForQTable() {
      let columnsForQTable = this.columns.map(column => this.convertColumnForQTable(column));
      if (this.actionButtonsForQTable.length > 0) {
        columnsForQTable.push({
          name: "acciones",
          label: "Acciones",
          field: "id",
          sortable: false,
          align: "center",
          formatType: "actions"
        });
      }
      return columnsForQTable;
    },
    columnsWithPredefinedlFormatType() {
      let columnsWithPredefinedlFormatType = this.columnsConvertedForQTable.filter(column => column && column.formatType);
      return columnsWithPredefinedlFormatType;
    },
    entityListItems() {
      return this.entityList && this.entityList.items ? this.entityList.items : [];
    },
    filterFields() {
      let result =
        this.entityList && this.entityList.params && this.entityList.params.filter && this.entityList.params.filter.filterFields
          ? this.entityList.params.filter.filterFields
          : [];
      return result;
    },
    fullTextSearch() {
      let result =
        this.entityList && this.entityList.params && this.entityList.params.filter && this.entityList.params.filter.fullTextSearch
          ? this.entityList.params.filter.fullTextSearch
          : "";
      return result;
    },
    isShowedInGridMode() {
      return (!this.isNotShowedAsCardListInMolbileResolution && this.$q.screen.lt.md) || this.isShowedAsCardList;
    },
    tablePagination: {
      /** @returns QTablePagination */
      get: function() {
        return this.convertEntityListToQTablePagination(this.entityList);
      },
      set(newValue) {
        /* sync requiere esto para evitar warnings  aunque nunca se "sette" */
      }
    }
  },
  methods: {
    /**
     * @param {EntityList} entityList
     * @returns {QTablePagination}
     */
    convertEntityListToQTablePagination(entityList) {
      let result = null;

      if (entityList) {
        result = {
          sortBy: entityList.params.sort ? entityList.params.sort.fieldName : null,
          descending: entityList.params.sort ? entityList.params.sort.isDescending : null,
          page: entityList.params.paginationStart,
          rowsPerPage: entityList.params.paginationLimit,
          rowsNumber: entityList.itemsTotalCount
        };
      }
      return result;
    },
    convertColumnForQTable(column) {
      let columnConverted = { ...column };

      if (typeof columnConverted.field === "string" && columnConverted.field.split(".").length > 1) {
        columnConverted.field = row => utils.getPropertyNVL(row, column.field, "");
      }

      return columnConverted;
    },
    getObjectFieldValueFromDotString(object, dotStringFields) {
      return dotStringFields.split(".").reduce((object, propertyName) => (object ? object[propertyName] : null), object);
    },
    /**
     * Devuelve un nuevo entityList siempre que estén todos los datos necesarios, si no devuelve null, que ya lo tratará el action
     *
     * @returns {EntityListParams}
     */
    createEntityListParamsFromCurrentTableParams() {
      let newEntityListParams = null;

      /** @type {object} */
      let currentTableParameters = this.tablePagination;

      return this.createEntityListParamsFromNewTableParams(currentTableParameters);
    },
    /**
     * Devuelve un nuevo entityList siempre que estén todos los datos necesarios, si no devuelve null, que ya lo tratará el action
     * @param {QTablePagination} newTableParams
     * @returns {EntityListParams}
     */
    createEntityListParamsFromNewTableParams(newTableParams) {
      let newEntityListParams = null;

      let newParamSort = null;

      if (newTableParams.sortBy) {
        newParamSort = {
          fieldName: newTableParams.sortBy,
          isDescending: newTableParams.descending
        };
      }

      // Como obviamos el filtro de la tabla siempre añadimos el filtro actual
      // Si hay un filtro nuevo se añade después
      let currentFilter = new Filter({ filterFields: this.filterFields, fullTextSearch: this.fullTextSearch });

      newEntityListParams = new EntityListParams({
        filter: currentFilter,
        paginationStart: newTableParams.page ?? newTableParams.page,
        paginationLimit: newTableParams.rowsPerPage ?? newTableParams.rowsPerPage,
        sort: newParamSort
      });

      return newEntityListParams;
    },
    onActionButtonClicked({ actionButtonName, item }) {
      this.$emit("action-button-clicked", { actionButtonName, item });
    },
    /**
     * @returns {void}
     */
    onApplyFilterClicked(filterFieldsWithUpdatedValues) {
      let newEntityListParams = this.createEntityListParamsFromCurrentTableParams();
      newEntityListParams.filter = new Filter({ filterFields: filterFieldsWithUpdatedValues, fullTextSearch: "" });

      this.updateTableWithNewParams({ listParams: newEntityListParams });
    },
    onChipFieldRemoved(filterFieldName) {
      /** @type {EntityListParams} */
      let newEntityListParams = this.createEntityListParamsFromCurrentTableParams();
      let filterFieldsWithUpdatedValues = newEntityListParams.filter.filterFields.map(currentFilterField => {
        let newFilterField = utils.cloneObjectValues(currentFilterField);
        if (currentFilterField.name === filterFieldName) {
          newFilterField.value = "";
        }
        return newFilterField;
      });

      newEntityListParams.filter = new Filter({ filterFields: filterFieldsWithUpdatedValues, fullTextSearch: "" });

      this.updateTableWithNewParams({ listParams: newEntityListParams });
    },
    /**
     * @returns {void}
     */
    onChangedPaginationOrFilter(props) {
      let newEntityListParams = this.createEntityListParamsFromNewTableParams(props.pagination);

      this.updateTableWithNewParams({ listParams: newEntityListParams });
    },
    onChipFullTextSearchRemoved() {
      let newEntityListParams = this.createEntityListParamsFromCurrentTableParams();
      newEntityListParams.filter.fullTextSearch = "";

      this.updateTableWithNewParams({ listParams: newEntityListParams });
    },
    onNewItemClick() {
      this.$emit("action-new-item-clicked");
    },
    /**
     * @returns {void}
     */
    onFullTextSearchClicked(fullTextSearch) {
      let newEntityListParams = this.createEntityListParamsFromCurrentTableParams();
      newEntityListParams.filter = new Filter({ filterFields: this.filterFields, fullTextSearch: fullTextSearch });
      newEntityListParams.filter.resetFilterFieldsValues();

      this.updateTableWithNewParams({ listParams: newEntityListParams });
    },
    onRowClicked(event, row) {
      this.$emit("item-clicked", row);
    },
    onSearchInputFocused() {
      this.isFilterOpen = true;
    },
    /**
     * Actualiza la tabla con los nuevos parametros pasados, el resto de parametros se toman de los actuales o los que sean por defecto
     * @typedef {Object} params
     * @property {EntityListParams} [params.listParams]
     * @property {boolean} [params.isShowedAsGrid]
     */
    updateTableWithNewParams(params) {
      this.isFilterOpen = false;
      // Si no es desktop se muestra siempre en grid
      let newIsShowedAsGrid = this.$q.screen.lt.md || (params && params.isShowedAsGrid) || false;

      let newEntityListParams = params && params.listParams ? params.listParams : this.createEntityListParamsFromCurrentTableParams();

      this.$emit("changed", { listParams: newEntityListParams });
    }
  }
};
</script>

<style lang="scss">
.as-data-list {
  margin-bottom: 2em;
}

.as-data-list__filter-container {
  padding: 1em 4em 4em 4em;
  border-bottom: 1px solid $separator-color;
}

.as-data-list-card-class--default {
  .as-data-list-card-item {
    height: 90px;
  }
}

@media (max-width: $breakpoint-xs-max) {
  .as-search-input-container {
    width: 100%;
  }
}
.as-data-list {
  th {
    white-space: nowrap;
  }
}

.as-data-list__header {
  line-height: 34px;
}

.as-data-list__cell--actions {
  white-space: nowrap;
}

.as-data-list__icon-buttons {
  font-size: 0.9em;
}
</style>
