<template>
  <div class="as-data-list-card-item">
    <q-card flat bordered @click="onCardClick">
      <q-card-section horizontal class="col-1 col-md-2">
        <q-img
          v-if="sectionsValues.thumbnail"
          :src="sectionsValues.thumbnail"
        >
          <template #error>
            <q-icon name="account" color="grey-4" />
          </template>
        </q-img>
        <q-card-section class="col-7 col-md-6" style="padding-right: 0; padding-bottom: 0">
          <q-item style="padding-left:0; padding-right:0;">
            <q-item-section style="padding: 0">
              <q-item-label v-if="sectionsValues.label1"> {{ sectionsValues.label1 }} </q-item-label>
              <q-item-label v-if="sectionsValues.label2" caption> {{ sectionsValues.label2 }} </q-item-label>
              <q-item-label v-if="sectionsValues.label3" caption> {{ sectionsValues.label3 }} </q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-actions vertical>
          <q-btn flat round color="primary" icon="star_border" class="as-data-list__icon-buttons" />
          <q-btn flat round color="primary" icon="email" class="as-data-list__icon-buttons" />
          <!-- <q-btn flat round color="primary" icon="description" class="as-data-list__icon-buttons"/> -->
        </q-card-actions>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { utils } from "src/vue-app-shared";

/**
 * @typedef {object} ListItemSection
 * @property {string} name
 * @property {string} [field]
 * @property {function} [format]
 */

export default {
  name: "AsDataListCardItem",
  props: {
    /**
     * @type {Array<ListItemSection>}
     */
    sections: { type: Array, required: true },
    item: { type: Object, required: true }
  },
  computed: {
    sectionsValues() {
      let valuesObject = {};

      this.sections.forEach(itemSection => {
        let value = "";
        if (itemSection.format) {
          value = itemSection.format(this.item);
        } else if (itemSection.field) {
          value = this.item[itemSection.field];
        }

        valuesObject[itemSection.name] = value;
      });

      return valuesObject;
    }
  },
  methods: {
    onCardClick(e) {
      this.$emit("click", e);
    }
  }
};
</script>

<style lang="scss">

.q-input--asfilterbutton {
  input {
    font-size: 13px;
  }
  .q-field__append {
    // Para que se vea más "pegaito" el dropdown button al final del campo
    position: relative;
    right: -8px;
  }

  .q-field__control,
  .q-field__marginal {
    // Para que esté más molon chiquitito (si no importa más que la tabla)
    height: 34px;
  }
}
</style>
