<template>
  <div class="as-filter-chip-list">
    <q-chip
      v-model="isFullTextSearchChipShowed"
      icon-remove="clear"
      removable
      outline
      class="text-lowercase"
      @remove="onChipFullTextSearchRemoved"
    >
      búsqueda: {{ fullTextSearch }}
    </q-chip>
    <div class="row">
      <q-chip
        v-for="(field, arrayIndex) in chipsFilterFields"
        :key="arrayIndex"
        icon-remove="clear"
        removable
        outline
        class="text-lowercase"
        @remove="onChipFieldRemoved(arrayIndex, field.name)"
      >
        {{ field.extra.chipText }}
      </q-chip>
      <!--  -->
      <!-- <div>
      {{ field.name }} {{ field.operator }} 
    </div> -->
    </div>
  </div>
</template>

<script>
// @ts-nocheck
import { Filter, FilterField, utils } from "../index.js";

export default {
  name: "AsFilterChipList",
  props: {
    filterFields: { type: Array, required: true },
    fullTextSearch: { type: String, required: false, default: "" }
  },
  data() {
    return {
      /**
       * donde se guardaran los valores de los distintos campos
       * el campo operador sigue el fomrato https://docs.mongodb.com/manual/reference/operator/query/
       *
       */
      chipsFilterFields: [],
      isFullTextSearchChipShowed: false
    };
  },
  watch: {
    filterFields(newfilterFields) {
      this.updateChipsFilterFieldsModels(newfilterFields);
    },
    fullTextSearch() {
      this.isFullTextSearchChipShowed = !!this.fullTextSearch;
    }
  },
  created() {
    this.initChipsFilterFieldsModelsWithProps();
    this.isFullTextSearchChipShowed = !!this.fullTextSearch;
  },
  methods: {
    initChipsFilterFieldsModelsWithProps() {
      /** type {Array<FilterField>}  */
      this.updateChipsFilterFieldsModels(this.filterFields);
    },
    getLabelForValueInSelecField(options, fieldValue) {
      let selectOption4Value = options.find(option => option.value === fieldValue);
      return selectOption4Value.label;
    },
    onChipFieldRemoved(arrayIndex, filterFieldName) {
      this.chipsFilterFields.splice(arrayIndex, 1);
      this.$emit("chip-field-removed", filterFieldName);
    },
    onChipFullTextSearchRemoved() {
      this.isFullTextSearchChipShowed = false;
      this.$emit("chip-full-text-search-removed");
    },
    updateChipsFilterFieldsModels(newFilterFields) {
      this.chipsFilterFields = new Filter({ filterFields: newFilterFields }).getFilterFieldsNotEmpty().map(field => {
        if (field.type === "select" && field.extra && field.extra.options) {
          return { ...field, extra: { ...field.extra, chipText: this.getLabelForValueInSelecField(field.extra.options, field.value) } };
        } else {
          return { ...field, extra: { ...field.extra, chipText: `${field.extra.label}: ${field.value}`} };
        }
      });
    }
  }
};
</script>

<style lang="scss">
.as-filter-chip-list {
  .q-chip {
    padding: 0.9em 1em;
    font-size: 1em; // 14px en tamaño normal
    color: $grey-9;
  }
  .q-chip__icon.q-chip__icon--remove {
    margin-left: 0.2em;
    margin-right: -0.4em;
    font-size: 1.3em;
  }
}
</style>
