<template>
  <div class="row q-col-gutter-lg as-filter">
    <as-form-generator
      :model="currentFilterFieldsModel"
      :fields="formFields"
      :buttons="filterButtons"
      @enter-key-up="onFieldInputEnterKeyUp"
      @form-submitted="onApplyFilterClicked"
    ></as-form-generator>
  </div>
</template>

<script>
import { Filter, FilterField, utils } from "../index.js";

export default {
  name: "AsFilter",
  props: {
    filterFields: { type: Array, required: true }
  },
  data() {
    return {
      currentFilterFieldsModel: null,
      filterButtons: [{ type: "submit", label: "Aplicar filtro", icon: "filter_list", class: "as-filter__button_apply" }]
    };
  },
  computed: {
    formFields() {
      return this.filterFields.map(field => ({ ...field, ...field.extra }));
    }
  },
  created() {
    this.initfilterFieldsModelsWithProps();
  },
  methods: {
    initfilterFieldsModelsWithProps() {
      /** type {Array<FilterField>}  */
      let filterFields = this.filterFields;
      if (filterFields) {
        let currentFilter = new Filter({ filterFields });
        this.currentFilterFieldsModel = {};
        this.filterFields.forEach(({ name, value, operator, type }) => {
          this.currentFilterFieldsModel[name] = value;
        });
      } else {
        this.currentFilterFieldsModel = {};
      }
    },
    onApplyFilterClicked(fieldsModelUpdated) {
      let filterFieldsWithValuesUpdated = this.filterFields.map(field => {
        let fieldUpdated = utils.cloneObjectValues(field);
        fieldUpdated.value = fieldsModelUpdated[field.name];
        return fieldUpdated;
      });

      this.$emit("apply-filter-clicked", filterFieldsWithValuesUpdated);
    },
    onFieldInputEnterKeyUp() {
      this.onApplyFilterClicked();
    }
  }
};
</script>

<style lang="scss">
.as-filter {
  .as-form-field__input {
    height: 34px;
    font-size: 13px;

    .q-field__control,
    .q-field__marginal {
      // Para que coja la altura que queramos desde el as-filter
      height: 100%;
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }
  }

  // .as-form-field__select {
  //   height: 34px;
  //   font-size: 13px;
  // }

  .as-filter__button_apply .q-btn__content {
    font-size: 13px;
  }
}
</style>
