<template>
  <q-input
    class="as-form-field__input"
    debounce="300"
    dense
    outlined
    :label="label"
    :value="valueField"
    :readonly="readonly"
    :rules="validation"
    @input="onInput($event)"
    @keyup.enter="onEnterKeyUp"
  >
  </q-input>
</template>

<script>
export default {
  name: "AsFieldInput",
  props: {
    label: { type: String, required: true },
    value: { type: [String, Number, Object], default: "" },
    readonly: { type: [Boolean, Function], default: false },
    validation: { type: [Array, Function], default: null }
  },
  computed: {
    valueField() {
      if (this.value && typeof this.value === "object") {
        return this.value["nombre"];
      } else {
        return this.value;
      }
    }
  },
  methods: {
    onInput(event) {
      this.$emit("input", event);
    },
    onEnterKeyUp() {
      this.$emit("enter-key-up");
    }
  }
};
</script>

<style lang="scss">
.as-form-field__input {
  input,
  .q-field__label {
    font-size: 1em;
  }
}
</style>
