<template>
  <q-input v-model="valorFecha" :label="label" filled mask="##/##/####" :readonly="readonly"
        class="as-field__input" @input="onInput($event)" @keyup.enter="onEnterKeyUp">
      <template v-slot:append>
        <q-icon v-if="readonly === false" name="event" class="cursor-pointer">
          <q-popup-proxy transition-show="scale" transition-hide="scale" @before-show="updateProxy" >            
            <q-date v-model="proxyDate" mask="DD/MM/YYYY">
              <div class="row items-center justify-end q-gutter-sm">
                <q-btn v-close-popup label="Cancelar" color="primary" flat  />              
                <q-btn v-close-popup label="OK" color="primary" flat @click="save"/>                
              </div>
            </q-date>            
          </q-popup-proxy>
        </q-icon>      
      </template>
  </q-input>
    
</template>

<script>
import { formatters } from "src/vue-app-shared/"
const { formatDate, formatDateBD } = formatters
export default {
  name: "AsFieldDate",
  props: {
    label: { type: String, required: true },
    value: { type: [String ,Number], default: "" },    
    readonly: {type: Boolean, default: false},
    name:{type: String, required: true}
  },
  data() {
    return{
      valorFecha: null,
      proxyDate: null
    }
  },
  watch: {
    value(newValue) {
       this.valorFecha = formatDate(newValue)
    }    
  },
  methods: {
    updateProxy (){      
      this.proxyDate = this.valorFecha
    },
    save (){
      this.valorFecha = this.proxyDate
      this.$emit("value-updated", { name: this.name, value: formatDateBD(this.valorFecha) });
    },
    onInput(event) {      
      this.$emit("input", event);
    },
    onEnterKeyUp() {      
      this.$emit("enter-key-up", this.valorFecha);
    }
  }
};
</script>

<style lang="scss">
.as-field__input {
  input,
  .q-field__label {
    font-size: 1em;
  }
}
</style>
