<template>
  <q-select
    behavior="menu"
    dense
    outlined
    :options="filteredOptions"
    :value="value"
    :label="label"
    emit-value
    fill-input
    hide-selected
    input-debounce="0"
    map-options
    :readonly="readonly"
    transition-show="jump-down"
    transition-hide="jump-up"
    use-input
    :rules="validation"
    class="as-form-field__select"
    @filter="filterFn"
    @input="onInput($event)"
    @keyup.enter="onEnterKeyUp"
  />
</template>

<script>
import { utils } from "src/vue-app-shared";

export default {
  name: "AsFieldSelectDomain",
  props: {
    label: { type: String, required: true },
    value: { type: [String, Number], default: "" },
    options: { type: Array, required: true },
    readonly: { type: Boolean, default: false },
    domain: {type: String, required:true},
    validation: { type:[ Array, Function], default: null}
  },
  data() {
    return {
      filteredOptions: []
    };
  },
  /* computed: {
    domainOptions() {       
     return this.filteredOptions.filter( item => {
      item.domain === this.domain
      })
    }
  }, */
  watch: {
    options() {
      this.resetOptions();
    }
  },
  mounted() {
    this.resetOptions();
  },
  methods: {
    filterFn(val, update) {
      if (val === "") {
        update(() => {
          this.resetOptions();
        });
        return;
      }

      update(() => {
        const needle = utils.replaceDiacritics(val).toLowerCase();
        this.filteredOptions = this.options.filter(
          option =>
            option.label &&
            utils
              .replaceDiacritics(option.label)
              .toLowerCase()
              .indexOf(needle) > -1 && option.domain === this.domain
        );
      });
    },
    onInput(event) {
      this.$emit("input", event);
    },
    onEnterKeyUp() {
      this.$emit("enter-key-up");
    },
    resetOptions() {
      this.filteredOptions = this.options.filter ( option =>
        option.domain && option.domain === this.domain );
    }
  }
};
</script>

<style lang="scss">
.as-form-field__select {
  select,
  .q-field__label {
    font-size: 1em;
  }
}
</style>
