<template>
  <q-form ref="formEdit" @submit="onFormSubmitted">
    <div v-for="group in fields" :key="group.groupName" class="row">
      <div class="row text-subtitle1">
        {{ group.groupDescription }}
      </div>
      <q-separator color="green" spaced="sm" />

      <div class="as-form-generator row q-col-gutter-lg">
        <div v-for="field in group.fields" :key="field.name" :class="field.class">
          <component
            :is="`as-field-${field.type}`"
            :ref="field.name"
            v-model="fieldsModelUpdated[field.name]"
            :name = field.name
            :label="field.label"
            :options="field.options"            
            :readonly="readonlyFunction(field)"
            :domain="field.domain"
            :validation="field.validation"            
            @enter-key-up="onFormSubmitted"
            @value-updated="onValueUpdated"
          ></component>
        </div>
      </div>
    </div>
    <q-space />
    <div v-for="(button, index) in buttons" :key="index" class="col-12 col-md-auto">
      <q-btn
        v-if="button.type === 'submit'"
        :class="button.class"
        color="primary"
        :icon="button.icon"
        :label="button.label"
        outline
        size="md"
        @click="onFormSubmitted"
      />
    </div>
<!--    <div v-for="(button, index) in buttons" :key="button.label + index" class="col-12 col-md-auto">
      <q-btn
        v-if="button.type === 'submit'"
        :class="button.class"
        color="primary"
        :icon="button.icon"
        :label="button.label"
        outline
        size="md"
        type="submit"
      /> 
    </div> -->
  </q-form>
</template>

<script>
import { utils } from "src/vue-app-shared";

/**
 * @typedef {object} AsFormGeneratorField
 * @property {string} modelProp
 * @property {string} type P.e "input"
 * @property {string} inputType
 * @property {string} label
 * @property {boolean} [readonly]
 */

/**
 * @typedef {object} AsFormButton
 * @property {string} type "submit", "cancel" ...
 * @property {string} label
 * @property {string} [icon]
 */

export default {
  name: "AsFormGenerator",
  props: {
    // model: { type: Object, required: true },
    /** @type { Array<AsFormGeneratorField> } */
    fields: { type: Array, required: true },
    model: { type: Object, required: true },
    /** @type {Array<AsFormButton>} */
    buttons: { type: Array, required: false, default: () => [] },
    // options: { type: Object, required: false, default: () => {} }
    editMode: { type: String, required: true }
  },
  data() {
    return {
      fieldsModelUpdated: {},
      submitted : false
    };
  },
  watch: {
    model(newModelProp) {
      this.fieldsModelUpdated = utils.cloneObjectValues(newModelProp);
      console.log("modeloupdated",this.fieldsModelUpdated)
    }
  },
  mounted() {
    this.fieldsModelUpdated = utils.cloneObjectValues(this.model);
  },
  methods: {
    readonlyFunction(field) {
      if (field.key && field.key === true){
        return true;
      } else if (this.editMode === "create"){
        return false;
      } else if (this.editMode === "read") {
        return true;
      } else {
        return field.readonly
      }
    },
  
    onValueUpdated(evento){
      // evento es de la forma {name, value}
      console.log(evento)
      this.fieldsModelUpdated[evento.name] = evento.value;
    },    
    onFormSubmitted() {      
      this.validateForm2()
      console.log("Pues me da igual");
      //this.$emit("form-submitted", this.fieldsModelUpdated);      
    },
    /* validateForm accede a los grupos y de estos a los fields definidos en cada grupo */    
    validateForm2(){
      this.$refs.formEdit.validate().then(valid => {
        if (valid) {
          this.submitted = true;
          this.$emit("form-submitted", this.fieldsModelUpdated);
          this.submmitted = false;
          this.$q.notify({
            message: "Muy bien hecho",
            color: 'green'
          });
          
        } else {
          this.$q.notify({
            message: "Verifique las validaciones",
            color: 'red'
          });
                    
        }
      });            
    }
  }
};
</script>

<style lang="scss">
.as-form-generator {
  width: 100%;
}
</style>
