<template>
  <q-input
    v-model="fullTextSearch"
    debounce="300"
    dense
    outlined
    placeholder="Buscar o filtrar"
    class="q-input--asfilterbutton"
    @keyup.enter="onButtonFullTextSearchClicked"
  >
    <!-- @mouseover="isFilterTooltipShowed = true"
    @mouseleave="isFilterTooltipShowed = false"
    @click="isFilterTooltipShowed = false" -->
    <template #append>
      <q-btn flat color="primary" icon="search" size="sm" padding="xs" @click="onButtonFullTextSearchClicked" />
      <!-- <q-btn flat color="primary" :icon="openFilterIconButton" size="sm" padding="xs" @click="onButtonOpenFilterClicked">
        <q-tooltip v-model="isFilterTooltipShowed">
          Mostrar filtros
        </q-tooltip>
      </q-btn> -->
    </template>
  </q-input>
</template>

<script>
export default {
  name: "AsSearchInput",
  props: {
    isFilterOpen: { type: Boolean, default: false }
  },
  data() {
    return {
      isFilterTooltipShowed: false,
      fullTextSearch: ""
    };
  },
  computed: {
    /**
     * @returns {string}
     */
    openFilterIconButton() {
      return !this.isFilterOpen ? "arrow_drop_down" : "arrow_drop_up";
    }
  },
  methods: {
    onButtonFullTextSearchClicked() {
      let newFullTextSearch = this.fullTextSearch;
      this.fullTextSearch = "";
      this.$emit("fulltext-search-clicked", newFullTextSearch);
    },
    onButtonOpenFilterClicked() {
      this.fullTextSearch = "";
      this.$emit("open-filter-clicked");
    },
    onSearchInputClick(e) {
      this.$emit("search-input-focused");
    }
  }
};
</script>

<style lang="scss">
.q-input--asfilterbutton {
  input {
    font-size: 13px;
  }
  .q-field__append {
    // Para que se vea más "pegaito" el dropdown button al final del campo
    position: relative;
    right: -8px;
  }

  .q-field__control,
  .q-field__marginal {
    // Para que esté más molon chiquitito (si no importa más que la tabla)
    height: 34px;
  }
}
</style>
