<template>
  <div>
    <div><div id="wdr-component"></div></div>
    <q-inner-loading :showing="!isComplete">
      <q-spinner color="primary" size="4em" />
    </q-inner-loading>
  </div>
</template>

<script>
/* eslint-disable */

import WebDataRocks from "webdatarocks";

export default {
  name: "WebDataRocks",
  props: {
    afterchartdraw: Function,
    aftergriddraw: Function,
    beforegriddraw: Function,
    beforetoolbarcreated: Function,
    cellclick: Function,
    celldoubleclick: Function,
    componentFolder: String,
    customizeCell: Function,
    customizeContextMenu: Function,
    datachanged: Function,
    dataerror: Function,
    datafilecancelled: Function,
    dataloaded: Function,
    fieldslistclose: Function,
    fieldslistopen: Function,
    filterclose: Function,
    filteropen: Function,
    fullscreen: Function,
    global: Object,
    height: [String, Number],
    loadingdata: Function,
    loadinglocalization: Function,
    loadingolapstructure: Function,
    loadingreportfile: Function,
    localizationerror: Function,
    localizationloaded: Function,
    olapstructureerror: Function,
    olapstructureloaded: Function,
    openingreportfile: Function,
    querycomplete: Function,
    queryerror: Function,
    ready: Function,
    report: [String, Object],
    reportchange: Function,
    reportcomplete: Function,
    reportfilecancelled: Function,
    reportfileerror: Function,
    reportfileloaded: Function,
    runningquery: Function,
    toolbar: Boolean,
    update: Function,
    width: [Number, String]
  },
  data() {
    return {
      webdatarocks: null,
      isComplete: true
    };
  },
  mounted() {
    this.createNewWebDatarocksReport();
  },
  watch: {
    report(newValue) {
      this.isComplete = false;
      this.webdatarocks.setReport(newValue);
      this.webdatarocks.refresh();
    }
  },
  methods: {
    createNewWebDatarocksReport() {
      this.isComplete = false;
      this.webdatarocks = new WebDataRocks({
        ...this.$props,
        container: "#wdr-component",
        beforetoolbarcreated: customizeToolbar
      });

      this.webdatarocks.on("reportcomplete", () => {
        this.isComplete = true;
      });
    }
  },
  beforeUpdate() {
    return false;
  }
};

function customizeToolbar(toolbar) {
  var tabs = toolbar.getTabs(); // get all tabs from the toolbar
  toolbar.getTabs = function() {
    delete tabs[0]; // Conectar
    delete tabs[1]; // Abrir
    delete tabs[2]; // Salvar
    delete tabs[3].menu[0]; // Export -> Imprimir
    delete tabs[3].menu[3]; // Export -> PDF
    console.log("tab", tabs);
    delete tabs[4]; // Campos (pq ya está en el icono)
    delete tabs[5]; // Campos (pq ya está en el icono)
    delete tabs[6]; // Campos (pq ya está en el icono)
    return tabs;
  };
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "~webdatarocks/webdatarocks.min.css";
</style>
