<template>
  <q-page class="flex flex-center">
    <div>
      Review apps y produccion con netfily y desarrollo (main) con GitLab pages
      2022/02/05 13:49
    </div>
    <div>
      <img
        alt="Quasar logo"
        src="~assets/quasar-logo-vertical.svg"
        style="width: 200px; height: 200px"
      />
    </div>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
};
</script>
