<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat dense round icon="menu" aria-label="Menu" class="lt-md" @click="leftDrawerOpen = !leftDrawerOpen" />

        <q-toolbar-title>
         Servicio de atención al ciudadano: Citas previas
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-3"
      :mini="miniState"
      @mouseover="miniState = false"
      @mouseout="miniState = true"
    >
      <q-item
        v-if="authenticatedUser"
        style="border-bottom-color: rgba(0, 0, 0, 0.12); border-bottom-style: solid; border-bottom-width: 1px"
      >
        <q-item-section avatar>
          <q-avatar v-if="authenticatedUser.photoUrl" size="24px">
            <q-img :src="authenticatedUser.photoUrl" />
          </q-avatar>
          <q-icon v-else name="account_circle" />
        </q-item-section>

        <q-item-section>
          <span class="text-weight-bold">{{ authenticatedUser.nombre }} {{ authenticatedUser.apellidos }}</span>
        </q-item-section>
      </q-item>

      <q-list padding>
        <q-item v-for="item in navigationItems" :key="item.routePath" v-ripple clickable exact :to="item.routePath">
          <q-item-section avatar>
            <q-icon :name="item.icon" />
          </q-item-section>

          <q-item-section>
            {{ item.label }}
          </q-item-section>   
                  
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class="q-page-container--app">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState } from "vuex";
import appConfig from "src/app-config";

export default {
  name: "MainLayout",
  data() {
    return {
      miniState: true,
      leftDrawerOpen: false,
      navigationItems: []
    };
  },
  computed: {
    ...mapState("authentication", ["authenticatedUser"])
  },
  mounted() {
    this.navigationItems = appConfig.menuItems;
  }
};
</script>

<style lang="scss">
.q-page-container--app {
  background-color: $grey-1;

  .q-page {
    padding: $space-base;
  }
}

@media (min-width: $breakpoint-md-min) {
  .q-page-container--app .q-page {
    padding: $space-base * 2;
  }
}
</style>

