<template>
  <q-page>
    <pre>{{entonno}}</pre>
    <pre>Probando hacer rollback</pre>
    <div class="page-container">
      <WebDataRocks
        :report="report"
        :beforetoolbarcreated="removeTabsFromReportToolbar"
        height="700px"
        toolbar
      ></WebDataRocks>
    </div>
    <q-inner-loading :showing="isInformeCitasListLoading">
      <q-spinner color="primary" size="4em" />
    </q-inner-loading>
  </q-page>
</template>

<script>
import { mapState, mapActions } from "vuex";
import WebDataRocks from "webdatarocks";
import {
  EntityList,
  EntityListParams,
  Filter,
  FilterFieldType,
  FilterOperator,
  formatters,
  utils,
  AppError,
} from "src/vue-app-shared";

const { capitalize } = formatters;

export default {
  name: "InformeDinamico",
  data() {
    return {
      report: {},
    };
  },
  computed: {
    entonno() {
      return "Aplicando variables de entonno: " + (process.env.entonno ?? "Vaya, no está especificado el entonno, ande andará...");
    },
    ...mapState("citas", ["citasList", "informesList", "isInformeCitasListLoading"]),
    initialFilterParams() {
      // Se hace como propiedad calculada pq depende de que se hayan cargado los datos de las entidades compartidas
      let result = { informeId: "citas-hoy", fullTextSearch: "", filterFields: [] };

      return result;
    },
  },
  watch: {
    citasList(newValue) {      
      const informe = utils.cloneObjectValues(this.informesList.items[0]);
      
      if (informe?.options?.grid?.title) {
        informe.options.grid.title = informe.options.grid.title + " ( " + informe.filter.oficina + " )"
      }

      if (newValue.items) {
        this.report = {
          ...informe,
          dataSource: {
            data: [informe.reportDataTypes, ...this.reportDataFromCitasList(newValue.items)]
          },
        };
      }
    },    
  },
  mounted() {
    this.callViewListActionWithInitialParams();
  },
  methods: {
    ...mapActions("citas", ["actionViewInformeCitasList"]),

    getClienteWithNif(cita) {
      return cita.nombre
        ? `${capitalize(cita.nombre)} ${capitalize(cita.apellidos)} ${
            cita.nif ? "( NIF: " + cita.nif + ")" : ""
          }`
        : "";
    },

    reportDataFromCitasList(citasList) {
      return [...utils.cloneObjectValues(citasList)].map((cita) => ({
        ...cita,
        cliente: this.getClienteWithNif(cita),
      }));
    },

    /**
     * @param {object} props
     */
    onUIListChanged(updatedDataListprops) {
      this.callViewListAction(updatedDataListprops);
    },

    removeTabsFromReportToolbar(toolbar) {
      var tabs = toolbar.getTabs(); // get all tabs from the toolbar
      toolbar.getTabs = function () {
        delete tabs[0]; // delete the first tab
        return tabs;
      };
    },

    /**
     * @param {object} args Parámetros de lista para llamar a la acción
     * @property {EntityListParams} args.listParams Parámetros de lista para llamar a la acción
     */
    callViewListAction({ listParams }) {
      this.actionViewInformeCitasList({ listParams: listParams });
    },
    /**
     * @returns {void}
     */
    callViewListActionWithInitialParams() {
      /** @type {Filter} */
      let initialFilter = new Filter(this.initialFilterParams);

      /** @type {EntityListParams} */
      const initialListParams = Object.freeze({
        filter: initialFilter,
        paginationStart: null,
        paginationLimit: null,
        sort: { fieldName: "start", isDescending: false },
      });

      this.callViewListAction({ listParams: initialListParams });
    },
  },
};
</script>

<style lang="scss">
.page-container {
  margin: 2em;
}
</style>
