<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: 'App',
  mounted() {
    // this.actionLoadSharedEntities();
  },
  methods: {
    ...mapActions("shared", ["actionLoadSharedEntities"])
  }
}
</script>
